# Основной вход — www (сертификат уже есть). Корень редиректим на www.
www.xn--80aaakgo7a.xn--p1ai {
	reverse_proxy app:3000
}

xn--80aaakgo7a.xn--p1ai {
	redir https://www.xn--80aaakgo7a.xn--p1ai{uri} permanent
}
